html, body {
  height:          100%;
  margin:          0;
  padding:         0;
  background:      #121212;
  text-align:      center;
  color:           #fff;
  display:         flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items:     center;
  background-image: url("img/background-pattern.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
}

canvas {
  position: relative;
}

.instructions-div {
    position: absolute;
    top: 0;
    left: 15;
    /* margin: 20px; */
    height: 600px;
    width: 600px;
    font-size: 36px;
    font-weight: bold;
    color: black;
    background-color: white;
    background-image: url("img/snake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



.instructions-div > ol {
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.733);
}

.instructions-div > ol > li {
    text-align: left;
    font-size: 18px;
    font-weight: normal;
}

.info-box {
    font-size: 22px;
    /* margin: 5%; */
}

.info-box > div {
    min-width: 150px;
}

/*slider css */
.slider-cont {
  width: 100%; /* Width of the outside container */
  font-size: 22px;
  margin: 1%;
  font-weight: normal;
}

.slider-cont > p {
    margin: 1%;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: rgb(65, 46, 228); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: rgb(65, 46, 228); /* Green background */
  cursor: pointer; /* Cursor on hover */
}